<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="mailto:244396012@qq.com">
    <meta rel="me" href="tel:13980476439">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/static/lib/autocomplete.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="wrapper">
    <% include header.ejs %>
    <section class="main">
        <%- body %>
    </section>
    <% include footer.ejs %>
</div>
</body>
<script src="/static/lib/jquery-2.1.4.min.js"></script>
<script src="/static/lib/amazeui.min.js"></script>
<script src="/static/lib/autocomplete.js"></script>
<script src="/js/bundle.js?v=<%= new Date().getTime() %>"></script>
<script src="/js/webservice.js?v=<%= new Date().getTime() %>"></script>
<script type="text/javascript">
    //返回顶部
    $(document).on('scroll',function () {
        const offTop = $(this).scrollTop();
        const goTop = $('.goTop');
        if(offTop >= 400 && goTop.length < 1){
            $('body').append(`
                             <div class="goTop" onclick="$('html,body').animate({scrollTop: '0px'},500)"></div>
                            `);
        }else if(offTop < 400){
            goTop.remove();
        }
    });
    window.onload = function () {

        //搜索
        function searchFn() {
            const lan = $('select[data-am-selected]').val();
            const wd = $('#searchTxt').val();
            if($.trim(wd) === ''){
                $.fail('请输入搜索关键字');
                return false;
            }
            if(location.pathname.includes('/qsearch')){
                const config = {
                    zh: __tool__.queryParam('wd'),
                    en: __tool__.queryParam('en'),
                    id: __tool__.queryParam('id')
                };
                location.href = "/dict/search?wd="+ wd +'&lan='+ lan +'&dictZh='+ config.zh +'&dictEn='+ config.en +'&id='+ config.id;
            }else{
                location.href = "/dict/search?wd="+ wd +'&lan='+ lan;
            }
        }

        $('#searchTxt').on('keyup', function (e) {
            e.keyCode === 13 && searchFn();
        });

        $('#searchBtn').on('click', function () {
            searchFn()
        });

        $('.searchBox').length > 0
        && $('#searchTxt').autocomplete({
            width: 500,
            height: 50,
            placeholder: '输入你要翻译的术语',
            onBlur: function (el) {
                if($(el).val() === ''){
                    console.log('请输入搜索内容');
                }
            }
        });

        const adBox = $(".content-ad");
        if(adBox.length > 0){
            const data = ['图纸翻译','多媒体译制']
            let adItemStr = "";
            for(let i = 0; i < 2;i++){
                adItemStr += `<div class="item">
                                    <a class="target" href="http://www.lan-bridge.com/" rel="nofollow" target="_blank">
                                        <img class="img" src="/static/image/temp/ad${i+1}.png" alt="ad">
                                        <p class="title">${data[i]}</p>
                                    </a>
                                </div>`
            }
            adBox.append(adItemStr);
        }
    }
</script>
<%- script %>
</html>
