<style>html,body{background: #FCFCFC}.w-e-toolbar{display: none}.w-e-text-container{height: auto!important;border: none!important;}</style>
<div class="article_pageDetail article_page information information_detail industry_detail">
    <div class="content">
        <% if(data.message === 'success') {%>
        <div class="detail_cnt">
            <h3 class="detailTitle_Info title sy-center"><%= data.data.articleTitle %></h3>
            <div class="title am-g">
                <div class="am-u-md-1 sy-center">
                    <img src="/static/image/index-default-head.png" alt="">
                </div>
                <div class="am-u-md-11">
                    <h5><%= data.data.publishNickName %>
                        <a href="javascript:;"><span class="delete"><i class="am-icon-trash-o"></i>删除</span></a>
                        <a class="editTarget" href="/p-article/edit"><span class="edit"><i class="icon-edit"></i>编辑</span></a>
                    </h5>
                    <div class="am-g">
                        <% if (data.data.status === 0 || data.data.status === 2) {%>
                            <div class="am-u-sm-6">最近保存时间：<%= data.data.gmtUpdate?data.data.gmtUpdate:'--' %></div>
                        <% } else if (data.data.status === 1) {%>
                            <div class="am-u-sm-6">提交审核时间：<%= data.data.submissionTime?data.data.submissionTime:'--' %></div>
                            <div class="am-u-sm-6 sy-right tip">文章正在审核中，请耐心等待</div>
                        <% } else if (data.data.status === 2 || data.data.status === 4) { %>
                            <div class="am-u-sm-6">最近保存时间：<%= data.data.publishTime?data.data.publishTime:'--' %></div>
                            <div class="am-u-sm-6 sy-right tip"><%= (data.data.status === 2? '未通过理由：':'撤回理由：')+data.data.reviewDesc %></div>
                        <% } else {%>
                            <div class="am-u-sm-6" style="width: 70%">发布时间：<%= data.data.publishTime?data.data.publishTime:'--' %></div>
                            <div class="am-u-sm-2 sy-right" style="width: 10%"><i class="sy-icon icon-eye"></i><%= data.data.viewCount %></div>
                            <div class="am-u-sm-2 sy-right" style="width: 10%"><i class="sy-icon icon-thumbs"></i><%= data.data.likeNumber %></div>
                            <div class="am-u-sm-2 sy-right" style="width: 10%"><i class="sy-icon icon-commenting"></i><%= data.data.commentsNumber %></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="detailContent_Info detail">
                <div id="editor" class="createArticle_Editor">
                    <%- data.data.contentHtml.replace(/\&lt;/g,'<').replace(/\&gt;/g, '>') %>
                </div>
            </div>
        </div>
        <% } else { %>
            <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
        <% } %>
    </div>
</div>
<script src="/static/lib/wangEditor.min.js"></script>
<script src="/static/lib/wangEditorConfig.js"></script>
<script>
(function ($){

    var search = location.search;

    $('.w-e-text').removeAttr('contenteditable');

    $('.editTarget').click(function (e) {
        e.preventDefault();
        location.href = '/p-article/edit'+search
    })

})(jQuery)
</script>