<style>html,body{background: #FCFCFC}</style>
<div class="article_page information information_detail industry_detail create_article">
    <div class="content">
        <div class="detail_cnt">
            <div class="create-form">
                <div class="form-item">
                    <label class="form-item-title">标题：</label>
                    <input class="form-item-input createArticle_Title controlArticleTitleLength"
                           type="text"
                           value="<%= data.data.articleTitle %>"
                           placeholder="请输入文章标题">
                    <span class="fontTotal"><%= data.data.articleTitle.length %>/50</span>
                </div>
                <div class="form-item">
                    <label class="form-item-title extra">封面：</label>
                    <div class="form-item-img">
                        <img class="editArticle_Img" src="<%= data.data.coverId %>" alt="">
                        <div onclick="$('a.uploadify-button').click()">重新上传</div>
                    </div>
                    <p class="tip">* 图片格式仅支持JPG、PNG两种格式，大小不超过3M</p>
                    <div id="uploadCover" class="sy-hidden"></div>
                </div>
                <div class="targetContentHtml sy-hidden"><%- data.data.contentHtml.replace(/\&lt;/g,'<').replace(/\&gt;/g, '>') %></div>
                <div id="editor" class="createArticle_Editor">

                </div>
                <div class="btns sy-mg-t-50 sy-center sy-font-md">
                    <button type="button" class="sy-btn sy-btn-default sy-btn-md editArticle_DraftBtn">保存草稿</button>
                    <button type="button" class="sy-btn sy-btn-default sy-btn-md editArticle_PreviewBtn">预览文章</button>
                    <button type="button" class="sy-btn sy-btn-green sy-btn-md confirm editArticle_SendBtn">提交审核</button>
                </div>
                <input type="hidden" class="createArticle_Label" value="<%= data.data.lable %>">
                <input type="hidden" class="createArticle_CoverUrl" value="<%= data.data.coverId %>">
            </div>
        </div>
    </div>
</div>
<script src="/static/lib/Huploadify.js"></script>
<script src="/static/lib/wangEditor.min.js"></script>
<script src="/static/lib/wangEditorConfig.js"></script>
<script>
$(function (){

    var contentHtml = $('.targetContentHtml').html();
    $('.w-e-text').html(contentHtml);

    //上传封面图
    setTimeout(function () {
        $('#uploadCover').Huploadify({
            auto: true,
            multi: false,
            fileTypeExts: '*.jpg;*.png;',
            fileObjName: 'multipartFile',
            formData: {
                userId: sessionStorage.getItem('sy_rm_client_ud')
            },
            token: 'bearer '+sessionStorage.getItem('sy_rm_client_access_token'),
            fileSizeLimit: 1024,
            uploader: __api__.baseRMUrl + '/interpreterArticle/uploadCover',
            onUploadStart: function () {
                $.loading('正在上传');
            },
            onUploadComplete: function(file, res){
                var resJson = JSON.parse(res);
                if(resJson.message === 'success'){
                    $('.my-loading').remove();
                    if(resJson.data){
                        $('.editArticle_Img').attr('src', resJson.data);
                        $('.createArticle_CoverUrl').val(resJson.data);
                    }
                }
            },
            onUploadError: function(file, res){
                var resJson = JSON.parse(res);
                $('.my-loading').remove();
                $.error(resJson.message);
            }
        });
    }, 1000);

    var previewBtn = document.getElementsByClassName('editArticle_PreviewBtn')[0],
        draftBtn = document.getElementsByClassName('editArticle_DraftBtn')[0],
        sendBtn = document.getElementsByClassName('editArticle_SendBtn')[0];

    //预览文章
    previewBtn.addEventListener('click', __api__.previewArticle, false);
    //保存草稿
    draftBtn.addEventListener('click', __api__.releaseArticle, false);
    //确认发布
    sendBtn.addEventListener('click', __api__.releaseArticle, false);

});
</script>
