<div class="main-bg">
    <div class="head">
        <img class="imgUrl" src="<%= data.base.picturePath?data.base.picturePath:'/static/image/personal-default-head.png'%>" alt="">
        <strong class="name"><%= data.base.nickName?data.base.nickName:'--'%></strong>
    </div>
    <div class="info">
        <div class="column-2 lan-pair lanPair">
            <% for (var i = 0; i < data.lanPair.length; i++){ %>
                <% origin = data.lanPair[i].sourceLanguageName.split('-')[0] %>
                <% target = data.lanPair[i].targetLanguageName.split('-')[0] %>
                <% domain = data.lanPair[i].areaName && JSON.parse(data.lanPair[i].areaName).toString() %>
            <div class="lan">
                <span><%= origin %> - <%= target %></span>
                <span class="domain"><%= domain %></span>
                <span class="lv"><%= data.lanPair[i].levelName %></span>
            </div>
            <% } %>
            <% for (var j = 0; j < 4-data.lanPair.length; j++){ %>
            <div class="lan">&nbsp;</div>
            <% } %>
        </div>
        <div class="column-3 am-g">
            <div class="am-u-sm-4 score">当前积分：<%= data.base.currentPointSummary>=0?data.base.currentPointSummary:'--'%>分</div>
            <div class="am-u-sm-4 year">翻译年限：<%= data.base.translateYear?data.base.translateYear:'--年'%></div>
            <div class="am-u-sm-4 value">译侠值：<%= data.base.yxTotalScore?data.base.yxTotalScore:'--'%></div>
        </div>
    </div>
</div>
<script>
    (function ($) {

        var t = sessionStorage.getItem('sy_rm_client_access_token'),
            u = sessionStorage.getItem('sy_rm_client_ud');
        //跳转到我的主页、我的文章”，阻止默认行为，url添加参数
        $('a.myHomePage').click(function (e) {
            e.preventDefault();
            location.href = '/p-article?t='+ t +'&u=' + u;
        });
        $('a.myHomeArticle').click(function (e) {
            e.preventDefault();
            location.href = '/p-article/list?t='+ t +'&u=' + u;
        });

    }(jQuery))
</script>