<div class="article_page article articleIndex">
    <div class="content">
        <div class="main-bg">
            <div class="head">
                <img class="imgUrl" src="<%= data.base.picturePath?data.base.picturePath:'/static/image/personal-default-head.png'%>" alt="">
                <strong class="name"><%= data.base.nickName?data.base.nickName:'XXX'%></strong>
            </div>
            <div class="info">
                <div class="column-2 lan-pair lanPair">
                    <% for (var i = 0; i < data.lanPair.length; i++){ %>
                    <div class="lan">
                        <span><%= data.lanPair[i].sourceLanguageName.split('-')[0] %>- <%= data.lanPair[i].targetLanguageName.split('-')[0] %></span>
                        <span class="lv"><%= data.lanPair[i].levelName %></span>
                    </div>
                    <% } %>
                    <% for (var j = 0; j < 4-data.lanPair.length; j++){ %>
                    <div class="lan">&nbsp;</div>
                    <% } %>
                </div>
                <div class="column-3 am-g">
                    <div class="am-u-sm-4 score">当前积分：<%= data.base.currentPointSummary>=0?data.base.currentPointSummary:'--'%>分</div>
                    <div class="am-u-sm-4 year">翻译年限：<%= data.base.translateYear?data.base.translateYear:'--年'%></div>
                    <div class="am-u-sm-4 value">译侠值：<%= data.base.yxTotalScore?data.base.yxTotalScore:'--'%></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <aside class="article_aside">
            <h3><%= data.base.nickName?data.base.nickName+'的主页':'XXX的主页' %></h3>
            <a href="/article/?uid=<%= data.base.id %>" class="active">介绍</a>
            <a href="/article/list?uid=<%= data.base.id %>">文章</a>
        </aside>
        <div class="article_cnt">
            <h3>个性标签及擅长领域</h3>
            <div class="labelExp">
                <% for(var i = 0; i<data.labelArr.length; i++) { %>
                <span><%= data.labelArr[i] %></span>
                <% } %>
            </div>
            <h3>项目经历</h3>
            <div class="projectExp">
                <% for(var i = 0; i<data.projectExp.length; i++) { %>
                <div class="item">
                    <div class="item-img"></div>
                    <div class="item-cnt">
                        <div><span class="name">项目名称：</span><span><%= data.projectExp[i].projectName %></span></div>
                        <div><span class="name">企业名称：</span><span><%= data.projectExp[i].companyName %></span></div>
                        <div><span class="name">起止时间：</span><span><%= data.projectExp[i].startDatetime.slice(0,7) %> - <%= data.projectExp[i].endDatetime.slice(0,7) %></span></div>
                        <div><span class="name">项目描述：</span><span><%= data.projectExp[i].projectDescribe %></span></div>
                    </div>
                </div>
                <% } %>
            </div>
            <h3>工作经验</h3>
            <div class="workExp">
                <% for(var i = 0; i<data.workExp.length; i++) { %>
                <div class="item">
                    <div class="item-img"></div>
                    <div class="item-cnt">
                        <div><span class="name">企业名称：</span><span><%= data.workExp[i].companyName %></span></div>
                        <div><span class="name">起止时间：</span><span><%= data.workExp[i].startDatetime.slice(0,7) %> - <%= data.workExp[i].endDatetime.slice(0,7) %></span></div>
                        <div><span class="name">工作描述：</span><span><%= data.workExp[i].workDescribe %></span></div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
