<style>html,body{background: #FCFCFC}</style>
<div class="article_pageDetail article_page information information_detail industry_detail">
    <div class="content">
        <% if(data.message === 'success') { %>
        <div class="detail_cnt">
            <h3 class="detailTitle_Info title sy-center"><%= data.data.articleTitle %></h3>
            <div class="title am-g">
                <div class="am-u-md-1 sy-center">
                    <img src="/static/image/index-default-head.png" alt="">
                </div>
                <div class="am-u-md-11">
                    <h5>官方账号</h5>
                    <div class="am-g">
                        <div class="am-u-sm-6">发布时间：<%= data.data.publishTime?data.data.publishTime:'--' %></div>
                        <div class="am-u-sm-2 sy-right">
                            <i class="sy-icon icon-eye"></i><%= data.data.viewCount %>
                        </div>
                        <div class="am-u-sm-2 sy-right">
                            <i class="sy-icon icon-thumbs"></i><%= data.data.likeCount %>
                        </div>
                        <div class="am-u-sm-2 sy-right">
                            <i class="sy-icon icon-commenting"></i><%= data.data.commentsCount %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailContent_Info detail"><%- data.data.contentHtml %></div>
            <div class="comment">
                <p class="sy-bold">评论</p>
                <textarea placeholder="欢迎留言评论哦~"></textarea>
                <div class="sy-right">
                    <button type="button" class="sy-btn sy-btn-green sy-btn-md AddCommentBtn">发布</button>
                </div>
                <div class="commentList comment-list">

                </div>
                <div class="sy-mg-t-30 sy-center more">
                    <button class="sy-btn sy-hidden loadMoreCommentBtn" type="button">加载更多</button>
                    <input class="commentPageNo" type="hidden" value="1">
                </div>
            </div>
        </div>
        <% } else { %>
        <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
        <% } %>
    </div>
</div>
<script>
 __api__.getCommentsList();
</script>