<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="mailto:244396012@163.com">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="数译科技,资源管理系统">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
<% if(mark === 'index'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
<% } else if(mark === 'order') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/order.css">
<% } else if(mark === 'about') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/about.css">
<% } else if(mark === 'account') { %>
    <link rel="stylesheet" href="/public/css/account.css">
<% } else if(mark === 'personal') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/user.css">
<% } else if(mark === 'article' || mark === 'information'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/article.css">
<% } else if(mark === 'activity'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/activity.css">
<% } %>
</head>
<body class="sy-font-fm">
    <div class="wrapper">
    <!-- 引入Header模版 -->
    <% include header.ejs %>
    <section id="content">
    <% if(mark === 'account') { %>
        <!-- 登录、注册 模版 -->
        <div class="content">
            <%- body %>
        </div>
    <% } else if(mark === 'personal') { %>
        <!-- 个人中心 模版 -->
        <div class="content">
            <!-- 引入个人中心 Aside模版 -->
            <% include aside-u.ejs %>
            <section id="mainSection">
                <%- body %>
            </section>
        </div>
    <% } else { %>
        <!-- 除个人中心、登录注册 模版 -->
        <%- body %>
    <% } %>
    </section>
    <% if(mark === 'index' || mark === 'activity' || mark === 'information' || mark === 'order') {%>
        <!--首页、活动页、文章信息、订单中心用该模版样式-->
        <% include footer.ejs %>
    <% } else { %>
        <!--个人中心、个人文章用该模版样式-->
        <% include footer-u.ejs %>
    <% } %>
    </div>
</body>
<script type="text/javascript" src="/static/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/lib/amazeui.min.js"></script>
<!-- 打包后的非Api接口文件 -->
<script type="text/javascript" src="/public/js/bundle.js"></script>
<!-- 打包后的Api接口文件 -->
<script type="text/javascript" src="/public/js/webservice.js"></script>
<% if(mark === 'personal') { %>
<!-- 每日签到 -->
<script async type="text/javascript" src="/static/lib/signOn.js"></script>
<% } %>
<!-- 母版页script，主要功能：给当前页添加active、设置接单等 -->
<script>
(function ($) {

    //给header、aside导航添加“active”
    var pathname = location.pathname,
        navItems = $('.nav_AsideU a, .nav_Header>a.nav-item');
    for(var i = 0, len = navItems.length; i<len; i++){
        var item = navItems[i],
            href = $(item).attr('href');
        if(pathname === href){
            $(item).addClass('active');
            break;
        }else if((href !== '/' && href !== '/personal/') && pathname.indexOf(href) > -1){
            $('.nav_AsideU,.nav_Header').find('a[href="'+ href +'"]').addClass('active');
            break;
        }else if(pathname === '/personal/teamInfo'){
            $('a.myBaseInfo').addClass('active');
        }
    }

    //设置“暂不接稿”
    var receiptBtn = document.querySelector('.receiptOrderBtn');
    receiptBtn.addEventListener('click', function () {
        var _this = this,
            status = _this.classList.contains('off') ? 0:1;
        __api__.getResponse({
            url: '/userExtension/openCloseReceipt',
            data: { receiptStatus: status }
        }).then(res => {
            if(res.message === 'success'){
                $.success('设置成功');
                if(_this.classList.contains('off')){
                    _this.classList.add('on');
                    _this.classList.remove('off');
                }else{
                    _this.classList.add('off');
                    _this.classList.remove('on');
                }
            }else{
                $.error(res.message);
            }
        });
    }, false);

    //“个人中心”、“关于我们”下拉框
    var navEntry = document.querySelector('.nav_about_Header'),
        navDropDown = document.querySelector('.nav_dropDown_Header'),
        userEntry = document.querySelector('.personalEntry'),
        userDropDown = document.querySelector('.dropDown_Header'),
        timer = null;
    navEntry.onmousemove = userEntry.onmousemove = function (){
        var _this = this;
        clearTimeout(timer);
        timer = window.setTimeout(function (){
            _this.classList.contains('personalEntry')
                ? userDropDown.classList.add('transition')
                : navDropDown.classList.add('transition');
        },100);
    }
    navEntry.onmouseleave = userEntry.onmouseleave = function (){
        var _this = this;
        timer = window.setTimeout(function (){
            _this.classList.contains('personalEntry')
                ? userDropDown.classList.remove('transition')
                : navDropDown.classList.remove('transition');
        },300);
    }
    navDropDown.onmouseleave = userDropDown.onmouseleave = function (){
        var _this = this;
        timer = window.setTimeout(function (){
            _this.classList.remove('transition');
        },300);
    }
    navDropDown.onmousemove = userDropDown.onmousemove = function (){
        clearTimeout(timer);
        this.classList.add('transition');
    }

})(jQuery);
</script>
<!-- 其他页面引入的script -->
<%- script %>
</html>
