<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zy">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="语言桥,兼职平台,语言桥兼职平台,资源管理,兼职管理,笔译,口译,同声传译,译员派遣,语言培训,术语管理,信息技术支持,本地化与国际化咨询服务">
    <meta name="description" content="语言桥成立于2000年，2004年在业内率先通过ISO9001:2000质量体系认证。秉着“更准、更快、更周到”的服务理念，语言桥赢得了众多世界500强企业以及国内知名企业的信赖，成为广大客户语言服务外包的最佳合作伙伴。">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
<% if(mark === 'index'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
<% } else if(mark === 'order') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/order.css">
<% } else if(mark === 'about' || mark === 'aboutExtra') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/about.css">
<% } else if(mark === 'account') { %>
    <link rel="stylesheet" href="/public/css/account.css">
<% } else if(mark === 'personal') { %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/user.css">
<% } else if(mark === 'article' || mark === 'information'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/article.css">
<% } else if(mark === 'activity'){ %>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/activity.css">
<% } %>
</head>
<body class="sy-font-fm">
    <div class="wrapper">
    <!-- 引入Header模版 -->
    <% include header.ejs %>
    <section id="content">
    <% if(mark === 'account') { %>
        <!-- 登录、注册 模版 -->
        <div class="content">
            <%- body %>
        </div>
    <% } else if(mark === 'personal') { %>
        <!-- 个人中心 模版 -->
        <div class="content">
            <!-- 引入个人中心 Aside模版 -->
            <% include aside-u.ejs %>
            <section id="mainSection">
                <%- body %>
            </section>
        </div>
    <% } else { %>
        <!-- 除个人中心、登录注册 模版 -->
        <%- body %>
    <% } %>
    </section>
    <% if(mark === 'index' || mark === 'activity' || mark === 'information' || mark === 'order' || mark === 'aboutExtra') {%>
        <!--首页、活动页、文章信息、订单中心用该模版样式-->
        <% include footer.ejs %>
    <% } else { %>
        <!--个人中心、个人文章用该模版样式-->
        <% include footer-u.ejs %>
    <% } %>
    </div>
</body>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="/static/lib/sockjs.min.js"></script>
<script type="text/javascript" src="/static/lib/stomp.min.js"></script>
<!-- 打包后的非Api接口文件 -->
<script type="text/javascript" src="/public/js/bundle.js"></script>
<!-- 打包后的Api接口文件 -->
<script type="text/javascript" src="/public/js/webservice.js"></script>
<% if(mark === 'personal') { %>
<!-- 每日签到 -->
<script async type="text/javascript" src="/static/lib/signOn.js"></script>
<% } %>
<!-- 其他页面引入的script -->
<%- script %>
</html>
