<div class="personal information">
    <% if(data.message === 'success'){ %>
    <div class="am-g sy-personal-hd">
        <div class="am-u-lg-6 sy-center sy-bold">基本信息</div>
        <div class="am-u-lg-6 sy-center sy-person-title">
            <% if(data.data.teamName){ %>
            <span class="edit"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            <% } %>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-lg-3 extra sy-right" style="height: 128px">
            <img src="<%= data.data.headerImg?data.data.headerImg:'/static/image/personal-default-head.png' %>" alt="头像">
            <div class="uploadFile sy-hidden"></div>
            <div class="upload-btn sy-center"
                 data-am-popover="{content: '仅支持jpg、png、jpeg、gif图片', trigger: 'hover focus'}"
                 onclick="$('a.uploadify-button').click()">
                <i class="sy-personal-icon sy-personal-icon-head"></i>点击上传
            </div>
            <p class="tips sy-orange" style="margin-top: 5px;padding-right: 12px">* 图片大小不超过3M</p>
        </div>
        <div class="am-u-lg-9 extra">
            <div class="sy-personal-cnt">
                <form class="sy-personal-form sy-personal-base <%= data.data.teamName?'sy-hidden':'' %>">
                    <div class="item">
                        <div><i class="required">*</i>团队名称：</div>
                        <div>
                            <input id="teamName"
                                   type="text"
                                   required
                                   placeholder="请输入团队名称"
                                   value="<%= data.data.teamName?data.data.teamName:'' %>">
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>专职人数：</div>
                        <div>
                            <input id="fullTimeNumber" type="number" required placeholder="请输入专职人数">
                            <span style="position: absolute;right: 10px;bottom: 6px;background: #fff">人</span>
                        </div>
                    </div>
                    <div class="item">
                        <div style="padding-left: 30px;vertical-align: bottom;line-height: 1">统一社会信用代码：</div>
                        <div>
                            <input id="unifiedSocialCreditCode" type="text" placeholder="请输入统一社会信用代码">
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>纳税类型：</div>
                        <div>
                            <select id="typesOfTaxPayment" required prop="纳税类型">
                                <option value="一般纳税人">一般纳税人</option>
                                <option value="小规模纳税人">小规模纳税人</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div>发票类型：</div>
                        <div>
                            <select id="invoiceType" prop="发票类型">
                                <option value="增值税专用发票">增值税专用发票</option>
                                <option value="普通发票">普通发票</option>
                                <option value="不开发票" selected>不开发票</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>团队所在地：</div>
                        <div>
                            <select class="area-control province" name="deliverprovince" id="deliverprovince" required prop="团队所在地"></select>
                            <select class="area-control city" name="delivercity" id="delivercity"></select>
                            <select class="area-control area" name="deliverarea" id="deliverarea"></select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>币种：</div>
                        <div>
                            <select id="currencyType" required prop="币种">
                                <option value="CNY">人民币</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="show-info <%= data.data.teamName?'':'sy-hidden' %>">
                    <div class="item">
                        <div>团队名称：</div>
                        <div><%= data.data.teamName %></div>
                    </div>
                    <div class="item">
                        <div>专职人数：</div>
                        <div><%= data.data.fullTimeNumber %>人</div>
                    </div>
                    <div class="item">
                        <div style="padding-left: 30px;vertical-align: bottom;line-height: 1">统一社会信用代码：</div>
                        <div><%= data.data.unifiedSocialCreditCode %></div>
                    </div>
                    <div class="item">
                        <div>纳税类型：</div>
                        <div><%= data.data.typesOfTaxPayment %></div>
                    </div>
                    <div class="item">
                        <div>发票类型：</div>
                        <div><%= data.data.invoiceType %></div>
                    </div>
                    <div class="item">
                        <div>团队所在地：</div>
                        <div><%= data.data.location %></div>
                    </div>
                    <div class="item">
                        <div>币种：</div>
                        <div><%= data.data.currencyName %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g sy-personal-hd">
        <div class="am-u-lg-6 sy-center sy-bold">联系方式</div>
        <div class="am-u-lg-6 sy-center sy-person-title">
            <% if(data.data.teamName){ %>
            <span class="edit"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            <% } %>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-lg-3 extra sy-right"></div>
        <div class="am-u-lg-9 extra">
            <div class="sy-personal-cnt">
                <form class="sy-personal-form sy-personal-base primaryForm <%= data.data.teamName?'sy-hidden':'' %>">
                    <div class="item">
                        <div><i class="required">*</i>主要联系人：</div>
                        <div><input id="primaryContactName" type="text"
                                    <%= data.data.userExtension && data.data.userExtension.certificatePassed >=1 ?'disabled':'' %> ></div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>手机号码：</div>
                        <div><input id="primaryContactMobile" type="tel" disabled></div>
                    </div>
                    <div class="item">
                        <div>邮箱帐号：</div>
                        <div><input id="primaryContactEmail" type="email" disabled></div>
                    </div>
                    <div class="item addItemTarget">
                        <div>
                            <select class="otherContact">
                                <option value="">其他联系方式</option>
                                <option value="QQ">QQ</option>
                                <option value="微信">微信</option>
                                <option value="座机">座机</option>
                                <option value="Skype">Skype</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" class="extra otherContactPut" placeholder="请输入联系方式">
                            <button type="button" class="sy-btn sy-btn-default sy-btn-sm addItemBtn">添加</button>
                        </div>
                    </div>
                </form>
                <form class="sy-personal-form sy-personal-base otherForm <%= data.data.teamName?'sy-hidden':'' %>"
                      style="border-top: 1px solid #eee">
                    <div class="item">
                        <div>其他联系人：</div>
                        <div><input id="otherContactName" type="text" placeholder="请输入其他联系人"></div>
                    </div>
                    <div class="item">
                        <div>手机号码：</div>
                        <div><input id="otherContactMobile" type="tel" placeholder="请输入手机号码"></div>
                    </div>
                    <div class="item">
                        <div>邮箱帐号：</div>
                        <div><input id="otherContactEmail" type="email" placeholder="请输入邮箱地址"></div>
                    </div>
                    <div class="item addItemTarget">
                        <div>
                            <select class="otherContact">
                                <option value="">其他联系方式</option>
                                <option value="QQ">QQ</option>
                                <option value="微信">微信</option>
                                <option value="座机">座机</option>
                                <option value="Skype">Skype</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" class="extra otherContactPut" placeholder="请输入联系方式">
                            <button type="button" class="sy-btn sy-btn-default sy-btn-sm addItemBtn">添加</button>
                        </div>
                    </div>
                </form>
                <div class="show-info <%= data.data.teamName?'':'sy-hidden' %>">
                    <div class="item">
                        <div>主要联系人：</div>
                        <div><%= data.data.primaryContactName %></div>
                    </div>
                    <div class="item">
                        <div>手机号码：</div>
                        <div><%= data.data.primaryContactMobile %></div>
                    </div>
                    <div class="item">
                        <div>邮箱帐号：</div>
                        <div><%= data.data.primaryContactEmail %></div>
                    </div>
                    <% if(data.data.primaryContactInfo){ %>
                        <% obj = JSON.parse(data.data.primaryContactInfo) %>
                        <% for(var i = 0; i<obj.length; i++) { %>
                        <div class="item">
                            <div><%= Object.keys(obj[i]) %>：</div>
                            <div><%= Object.values(obj[i]) %></div>
                        </div>
                        <% } %>
                    <% } %>
                    <div class="item" style="border-top: 1px solid #eee"></div>
                    <div class="item">
                        <div>其他联系人：</div>
                        <div><%= data.data.otherContactName %></div>
                    </div>
                    <div class="item">
                        <div>手机号码：</div>
                        <div><%= data.data.otherContactMobile %></div>
                    </div>
                    <div class="item">
                        <div>邮箱帐号：</div>
                        <div><%= data.data.otherContactEmail %></div>
                    </div>
                    <% if(data.data.otherContactInfo){ %>
                        <% obj = JSON.parse(data.data.otherContactInfo) %>
                        <% for(var i = 0; i<obj.length; i++) { %>
                        <div class="item">
                            <div><%= Object.keys(obj[i]) %>：</div>
                            <div><%= Object.values(obj[i]) %></div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g" style="margin: 2rem 0">
        <div class="am-u-lg-3 extra sy-right"></div>
        <div class="am-u-lg-9 extra">
            <button onclick="__api__.commitBaseTeamInfo(this)"
                    id="<%= data.data.id %>"
                    class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn <%= data.data.teamName?'sy-hidden':'' %>"
                    style="margin-left: 140px;font-size: 14px;">提交</button>
        </div>
    </div>
    <div class="hiddenData sy-hidden"><%= JSON.stringify(data) %></div>
    <% } else{ %>
    <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
    <% } %>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script type="text/javascript" src="/static/lib/area.js"></script>
<script src="/static/lib/Huploadify.js"></script>
<script>
(function($) {

    laydate.render({ elem: '.birthDay' });
    new PCAS("deliverprovince", "delivercity", "deliverarea");

    //初始化
    __api__.getBaseInfo();

    //添加“click”事件委托
    $('div.information').on('click', function (e) {
        var event = e || window.event,
            target = event.target || event.srcElement;
        //编辑时，填充已提交信息
        if($(target).hasClass('edit')){
            var targetDiv = $(target).parents('.am-g').next('.am-g'),
                isFill = $('#unifiedSocialCreditCode').val();
            if(!isFill){
                var hiddenEl = $('.hiddenData').html(),
                    hiddenData = hiddenEl && JSON.parse(hiddenEl) || {},
                    loopData = hiddenData.data;

                for(var prop in loopData){
                    var itemData = loopData[prop];
                    if(prop === 'currencyCode'){
                        $('#currencyType').val(itemData);
                    }else if(prop === 'location'){
                        var address = itemData.split(' ');
                        $('select.province').val(address[0]).change();
                        $('select.city').val(address[1]);
                        $('select.area').val(address[2]);
                    }else if(prop === 'primaryContactInfo' || prop === 'otherContactInfo'){
                        var contactInfo = itemData && JSON.parse(itemData) || [],
                            contactStr = '';
                        for(var i = 0, len = contactInfo.length; i<len; i++){
                            var item = contactInfo[i];
                            contactStr += ` <div class="item addItem" data='${JSON.stringify(item)}' ${Object.keys(item)}>
                                                <div>${Object.keys(item)}：</div>
                                                <div>
                                                    <input type="text" class="extra" value="${Object.values(item)}" readonly>
                                                    <button class="sy-btn sy-btn-default sy-btn-sm del delItemBtn">删除</button>
                                                </div>
                                            </div>`;
                        }
                        if(prop === 'primaryContactInfo'){
                            $('.primaryForm').find('.addItemTarget').before(contactStr);
                        }else{
                            $('.otherForm').find('.addItemTarget').before(contactStr);
                        }
                    }else {
                        $('#'+prop).val(itemData);
                    }
                }
            }
            targetDiv.find('form').removeClass('sy-hidden');
            targetDiv.find('div.show-info').addClass('sy-hidden');
            $('.confirmBtn').removeClass('sy-hidden');
        //添加联系方式
        }else if($(target).hasClass('addItemBtn')){
            var targetForm =  $(target).parents('form'),
                targetItem = $(target).parents('.addItemTarget'),
                conTypeVal = targetItem.find('.otherContact').val(),
                conPutVal = targetItem.find('.otherContactPut').val();
            if(conTypeVal === '' || conPutVal.trim() === ''){
                $.warning('请输入联系方式');
                return false;
            }
            var items = targetForm.find('.addItem');
            for(var i = 0, len = items.length; i<len; i++){
                var item = items[i];
                if($(item).attr(conTypeVal) === ''){
                    $.warning('已存在该联系方式');
                    return false;
                }
            }
            var data = {};
            data[conTypeVal] = conPutVal;
            targetItem.before(`
                <div class="item addItem" data='${JSON.stringify(data)}' ${conTypeVal}>
                    <div>${conTypeVal}：</div>
                    <div>
                        <input type="text" class="extra" value="${conPutVal}" readonly>
                        <button class="sy-btn sy-btn-default sy-btn-sm del delItemBtn">删除</button>
                    </div>
                </div>`);
        //删除item
        }else if($(target).hasClass('delItemBtn')){
            var delItem = $(target).parents('.addItem');
            delItem.remove();
        }
    });
}(jQuery));
</script>