<div class="personal information">
    <% if(data.message === 'success'){ %>
    <div class="am-g sy-personal-hd">
        <div class="am-u-lg-6 sy-center sy-bold">基本信息</div>
        <div class="am-u-lg-6 sy-center sy-person-title">
            <% if(data.data.nickName){ %>
            <span class="edit"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            <% } %>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-lg-3 extra sy-right" style="height: 128px">
            <img src="<%= data.data.picturePath?data.data.picturePath:'/static/image/personal-default-head.png' %>" alt="头像">
            <div class="uploadFile sy-hidden"></div>
            <div class="upload-btn sy-center"
                 data-am-popover="{content: '仅支持jpg、png、jpeg、gif图片', trigger: 'hover focus'}"
                 onclick="$('a.uploadify-button').click()">
                <i class="sy-personal-icon sy-personal-icon-head"></i>点击上传
            </div>
            <p class="tips sy-orange" style="margin-top: 5px;padding-right: 12px">* 图片大小不超过3M</p>
        </div>
        <div class="am-u-lg-9 extra">
            <div class="sy-personal-cnt">
                <form class="sy-personal-form sy-personal-base <%= data.data.nickName?'sy-hidden':'' %>">
                    <div class="item">
                        <div><i class="required">*</i>昵称：</div>
                        <div>
                            <input id="nickName"
                                   type="text"
                                   required
                                   autocomplete="off"
                                   prop="昵称"
                                   placeholder="快给自己想一个拉风的名字吧！>_<"
                                   value="<%= data.data.nickName?data.data.nickName:'' %>">
                            <p class="tips">* 昵称可由中文、字母和数字组合，长度4-20位，确认后不能修改</p>
                        </div>
                    </div>
                    <div class="item">
                        <div>姓名：</div>
                        <div>
                            <input id="realName" type="text" placeholder="请输入真实姓名" autocomplete="off"
                                   value="<%= data.data.userExtension && data.data.userExtension.realName %>"
                                    <%= data.data.userExtension && data.data.userExtension.certificatePassed >= 1 ?'disabled':'' %> >
                        </div>
                    </div>
                    <div class="item">
                        <div>性别：</div>
                        <div>
                            <select id="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>国家/地区：</div>
                        <div>
                            <select name="areaOther" id="areaOther" style="position: absolute;left: -9999px"></select>
                            <select name="areaSandbar" id="areaSandbar" style="width: 187px"></select>
                            <select name="areaNationality" id="areaNationality" style="width: 188px"></select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>母语：</div>
                        <div>
                            <select id="motherTogue"
                                    class="languageOption"
                                    required multiple data-am-selected="{maxHeight: 300}" prop="母语"></select>
                        </div>
                    </div>
                    <div class="item">
                        <div>出生日期：</div>
                        <div>
                            <input id="birthday" type="text" class="am-form-field birthDay" autocomplete="off" placeholder="请选择出生日期"/>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>翻译年限：</div>
                        <div>
                            <select id="translateYear" required prop="翻译年限">
                                <option value="1年以内">1年以内</option>
                                <option value="1-3年">1-3年</option>
                                <option value="3-5年">3-5年</option>
                                <option value="5年-10年">5年-10年</option>
                                <option value="10年以上">10年以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>常住地址：</div>
                        <div>
                            <select class="area-control province" name="deliverprovince" id="deliverprovince" required prop="常住地址" ></select>
                            <select class="area-control city" name="delivercity" id="delivercity"></select>
                            <select class="area-control area" name="deliverarea" id="deliverarea"></select>
                        </div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>币种：</div>
                        <div>
                            <select id="currencyType" required prop="币种">
                                <option value="CNY">人民币</option>
                                <option value="USD">美元</option>
                                <option value="EUR">欧元</option>
                                <option value="GBP">英镑</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="show-info <%= data.data.nickName?'':'sy-hidden' %>">
                    <div class="item">
                        <div>昵称：</div>
                        <div><%= data.data.nickName %></div>
                    </div>
                    <div class="item">
                        <div>姓名：</div>
                        <div><%= data.data.userName %></div>
                    </div>
                    <div class="item">
                        <div>性别：</div>
                        <div><%= data.data.sex %></div>
                    </div>
                    <div class="item">
                        <div>国家/地区：</div>
                        <div><%= data.data.userExtension.nationality.split(' ')[1]
                                    ? data.data.userExtension.nationality.split(' ')[1]
                                    : data.data.userExtension.nationality.split(' ')[0] %></div>
                    </div>
                    <div class="item">
                        <div>母语：</div>
                        <div><%= data.data.userExtension.motherTongue %></div>
                    </div>
                    <div class="item">
                        <div>出生日期：</div>
                        <div><%= data.data.userExtension.birthday && data.data.userExtension.birthday.split(' ')[0] %></div>
                    </div>
                    <div class="item">
                        <div>翻译年限：</div>
                        <div><%= data.data.userExtension.translateYear %></div>
                    </div>
                    <div class="item">
                        <div>常住地址：</div>
                        <div><%= data.data.userExtension.permanentAddress %></div>
                    </div>
                    <div class="item">
                        <div>币种：</div>
                        <div><%= data.data.userExtension.currencyName %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g sy-personal-hd">
        <div class="am-u-lg-6 sy-center sy-bold">联系方式</div>
        <div class="am-u-lg-6 sy-center sy-person-title">
            <% if(data.data.nickName){ %>
            <span class="edit"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            <% } %>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-lg-3 extra sy-right"></div>
        <div class="am-u-lg-9 extra">
            <div class="sy-personal-cnt">
                <form class="sy-personal-form sy-personal-base <%= data.data.nickName?'sy-hidden':'' %>">
                    <div class="item">
                        <div>手机帐号：</div>
                        <div><input id="telephone"
                                    type="tel"
                                    autocomplete="off"
                                    disabled
                                    value="<%= data.data.telephone ? data.data.telephone:'' %>"></div>
                    </div>
                    <div class="item">
                        <div>邮箱账号：</div>
                        <div><input id="email"
                                    type="email"
                                    autocomplete="off"
                                    disabled
                                    value="<%= data.data.email ? data.data.email:'' %>"></div>
                    </div>
                    <div class="item addItemTarget">
                        <div>
                            <select class="otherContact">
                                <option value="手机号">手机号</option>
                                <option value="座机">座机</option>
                                <option value="微信">微信</option>
                                <option value="QQ">QQ</option>
                                <option value="Skype">Skype</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" class="extra otherContactPut" autocomplete="off" placeholder="请输入联系方式">
                            <button type="button" class="sy-btn sy-btn-default sy-btn-sm addItemBtn">添加</button>
                        </div>
                    </div>
                </form>
                <div class="show-info <%= data.data.nickName ? '':'sy-hidden' %>">
                    <div class="item">
                        <div>手机帐号：</div>
                        <div><%= data.data.telephone %></div>
                    </div>
                    <div class="item">
                        <div>邮箱账号：</div>
                        <div><%= data.data.email %></div>
                    </div>
                    <% if(data.data.userExtension.contactInfo){ %>
                        <% _data = JSON.parse(data.data.userExtension.contactInfo) %>
                        <% for(var i = 0; i<_data.length; i++) { %>
                        <div class="item">
                            <div><%= Object.keys(_data[i]) %>：</div>
                            <div><%= Object.values(_data[i]) %></div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g" style="margin: 2rem 0">
        <div class="am-u-lg-3 extra sy-right"></div>
        <div class="am-u-lg-9 extra">
            <button onclick="__api__.commitBaseInfo(this)"
                    class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn <%= data.data.nickName?'sy-hidden':'' %>"
                    style="margin-left: 140px;font-size: 14px;">提交</button>
        </div>
    </div>
    <div class="hiddenData sy-hidden"><%= JSON.stringify(data) %></div>
    <% } else{ %>
    <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
    <% } %>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script type="text/javascript" src="/static/lib/area.js"></script>
<script src="/static/lib/Huploadify.js"></script>
<script>
(function($, window) {

    laydate.render({ elem: '.birthDay' });

    new PCAS("areaOther", "areaSandbar", "areaNationality");

    $('select#areaOther').val('其它').change();
    $('select#areaNationality').val('中国大陆');

    new PCAS("deliverprovince", "delivercity", "deliverarea");

    __api__.getBaseInfo();

    //添加“click”事件委托
    $('div.information').on('click', function (e) {
        var event = e || window.event,
            target = event.target || event.srcElement;
    //编辑时，填充已提交信息
        if($(target).hasClass('edit')){
            var hiddenEl = $('.hiddenData'),
                targetDiv = $(target).parents('.am-g').next('.am-g'),
				isFill = hiddenEl.attr('data-fill');
            hiddenEl.attr('data-fill', '1');
            var hiddenData = JSON.parse(hiddenEl.html());
            if(!isFill){

                var userEx = hiddenData.data.userExtension;

                $('#nickName').val(hiddenData.data['nickName']);
                $('#sex').val(hiddenData.data['sex']);
                $('#email').val(hiddenData.data['email']);
                $('#telephone').val(hiddenData.data['telephone']);
			    $('#realName').val(userEx['realName']);
                $('#currencyType').val(userEx['currencyCode']);
                $('#translateYear').val(userEx['translateYear']);

                if(userEx['motherTongue']){
                    var motherTongue = userEx['motherTongue'];
                    $('#motherTogue').find('option').each(function () {
                        if(motherTongue.indexOf(this.value) > -1){
                            this.setAttribute('selected', true);

                        }
                    });
                    $('.languageOption').trigger('changed.selected.amui');
                }

                if(userEx['birthday']){
                    $('#birthday').val(userEx['birthday'].split(' ')[0]);
                }
			    if(userEx['nationality'] && userEx['nationality'].indexOf(' ') > -1){
			        var sandbar = userEx['nationality'].split(' ');
                    $('#areaSandbar').val(sandbar[0]).change();
                    $('#areaNationality').val(sandbar[1]);
                }
                if(userEx['permanentAddress']){
			        var address = userEx['permanentAddress'].split(' ');
                    $('#deliverprovince').val(address[0]).change();
                    $('#delivercity').val(address[1]);
                    $('#deliverarea').val(address[2]);
                }
                if(userEx['contactInfo'] || !userEx['contactInfo']){
                    var conInfo = userEx['contactInfo'] && JSON.parse(userEx['contactInfo']) || [],
                        itemStr = '';
                    for(var i = 0, len = conInfo.length; i<len; i++){
                        var item = conInfo[i];
                        itemStr += `<div class="item addItem" data='${JSON.stringify(item)}' ${Object.keys(item)}>
                                        <div>${Object.keys(item)}：</div>
                                        <div>
                                            <input type="text" class="extra" value="${Object.values(item)}" readonly>
                                            <button class="sy-btn sy-btn-default sy-btn-sm del delItemBtn">删除</button>
                                        </div>
                                    </div>`;
                    }
                    $('.addItemTarget').before(itemStr);
                }
			}
            targetDiv.find('form').removeClass('sy-hidden');
            targetDiv.find('div.show-info').addClass('sy-hidden');
            $('.confirmBtn').removeClass('sy-hidden');
    //添加联系方式
        }else if($(target).hasClass('addItemBtn')){
            var targetItem = $('.addItemTarget'),
                conTypeVal = $('.otherContact').val(),
                conPutVal = $('.otherContactPut').val();
            if(conTypeVal === '' || conPutVal.trim() === ''){
                $.warning('请输入联系方式');
                return false;
            }
            if(conTypeVal === '手机号' && !/^1[1-9][0-9]{9}$/.test(conPutVal)){
                $.warning('请输入正确的手机号');
                return false;
            }
            var items = $('.addItem');
            for(var i = 0, len = items.length; i<len; i++){
                var item = items[i];
                if($(item).attr(conTypeVal) === ''){
                    $.warning('已存在该联系方式');
                    return false;
                }
            }
            var data = {};
            data[conTypeVal] = conPutVal;
            targetItem.before(`
                <div class="item addItem" data='${JSON.stringify(data)}' ${conTypeVal}>
                    <div>${conTypeVal}：</div>
                    <div>
                        <input type="text" class="extra" value="${conPutVal}" readonly>
                        <button class="sy-btn sy-btn-default sy-btn-sm del delItemBtn">删除</button>
                    </div>
                </div>`);
    //删除item
        }else if($(target).hasClass('delItemBtn')){
            var delItem = $(target).parents('.addItem');
            delItem.remove();
        }
    });
}(jQuery, window));
</script>