<% include skill_nav.ejs %>
<div class="personal skill">
    <div class="resource">
        <% if(data.message !== 'success'){ %>
        <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
        <% } else { %>
        <!--信息展示-->
            <% if(data.data.id){ %>
        <div class="show-info">
            <div class="am-u-lg-12">
            <span class="editLabel edit sy-float-r">
                <i class="sy-personal-icon sy-personal-icon-edit"></i>编辑
            </span>
            </div>
            <div class="am-u-lg-12 labels">
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md" style="width: 770px">
                    <thead>
                    <tr><th>服务地区</th><th>搭建</th><th>设备数量</th><th>设备单价</th><th>单位</th></tr>
                    </thead>
                    <tbody>
                    <% _area = data.data.province
                            +' ' + data.data.city
                            +" " + data.data.area %>
                    <% build = data.data.buildInfo && JSON.parse(data.data.buildInfo) || [] %>
                    <% for(var i = 0; i<build.length; i++) { %>
                    <tr>
                        <td><%= _area %></td>
                        <td><%= build[i].equipName %></td>
                        <td><%= build[i].equipNum %></td>
                        <td><%= build[i].equipUnitPrice %></td>
                        <td><%= build[i].equipUnit %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="am-u-lg-12 labels">
                <div>备注：</div>
                <div class="sy-font-md"><%= data.data.remark %></div>
            </div>
        </div>
            <% } %>
        <!--提交、修改信息表单-->
        <form class="add-form <%= data.data.id ? 'sy-hidden':'' %>" action="#">
            <div class="am-u-lg-12">服务地区：</div>
            <div class="am-u-lg-12 labels select" prop="服务地区">
                <select class="province" name="deliverprovince" id="deliverprovince"></select>
                <select class="city" name="delivercity" id="delivercity"></select>
                <select class="area" name="deliverarea" id="deliverarea"></select>
            </div>
            <div class="am-u-lg-12">搭建项：</div>
            <div class="am-u-lg-12 labels select" prop="搭建项">
                <div class="label-item">
                    <select class="device">
                        <option value="">请选择搭建项</option>
                        <option value="投影机">投影机</option>
                        <option value="投影幕">投影幕</option>
                        <option value="电视机">电视机</option>
                        <option value="LED设备">LED设备</option>
                        <option value="灯光设备">灯光设备</option>
                        <option value="会场搭建">会场搭建</option>
                        <option value="签到系统">签到系统</option>
                        <option value="印刷产品">印刷产品</option>
                        <option value="礼品">礼品</option>
                        <option value="摄影摄像">摄影摄像</option>
                    </select>
                    <input class="device-num" type="number" placeholder="请输入设备数量">
                    <input class="device-price" type="number" placeholder="请输入设备单价">
                    <select class="device-unit">
                        <option value="/天/套">/天/套</option>
                    </select>
                    <button type="button" class="sy-btn sy-btn-sm sy-btn-green addDevice">添加设备</button>
                </div>
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md" style="width: 770px">
                    <thead>
                    <tr><th>搭建</th><th>设备数量</th><th>设备单价</th><th>单位</th><th>操作</th></tr>
                    </thead>
                    <tbody class="dataTarget deviceTarget"></tbody>
                </table>
            </div>
            <div class="am-u-lg-12">备注：</div>
            <div class="am-u-lg-12 labels select" prop="备注">
                <textarea class="remark" placeholder="请输入相关备注"></textarea>
            </div>
            <div class="am-u-lg-12 sy-btns sy-font-md">
                <button class="btn btn-default sy-btn sy-btn-default sy-btn-md cancelBtn">取 消</button>
                <button class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn"
                        data-id="<%= data.data.id %>"
                        data-type="setup">提 交</button>
            </div>
        </form>
        <div class="hiddenData sy-hidden"><%= JSON.stringify(data.data) %></div>
        <% } %>
    </div>
</div>
<script type="text/javascript" src="/static/lib/area.js"></script>
<script>
    (function ($) {

        new PCAS("deliverprovince", "delivercity", "deliverarea");

        //编辑时，获取本地数据
        $('span.editLabel').click(function () {
            var hideData = JSON.parse($('.hiddenData').html()),
                trData = JSON.parse(hideData.buildInfo);
            var trStr = '',
                tbodyEl = $('.deviceTarget');
            $('select.province').val(hideData.province).change();
            $('select.city').val(hideData.city);
            $('select.area').val(hideData.area);
            $('textarea.remark').val(hideData.remark);
            trData.forEach(function (item) {
                trStr += `<tr>
                            <td>${item.equipName}</td>
                            <td>${item.equipNum}</td>
                            <td>${item.equipUnitPrice}</td>
                            <td>${item.equipUnit}</td>
                            <td><a href="javascript:;" class="del">删 除</a></td>
                            <td class="itemData sy-hidden">${JSON.stringify(item)}</td>
                        </tr>`;
            });
            tbodyEl.html(trStr);
        });

    }(jQuery));
</script>