<% include skill_nav.ejs %>
<div class="personal skill">
    <div class="resource">
        <% if(data.message !== 'success'){ %>
        <p style="line-height: 200px;text-align: center;color: #999"><%= JSON.stringify(data) %></p>
        <% } else { %>
        <!--信息展示-->
            <% if(data.data.id){ %>
        <div class="show-info">
            <div class="am-u-lg-12">
            <span class="editLabel edit sy-float-r">
                <i class="sy-personal-icon sy-personal-icon-edit"></i>编辑
            </span>
            </div>
            <div class="am-u-lg-12 labels">
                <div>口译经验：</div>
                <div>
                    <span><%= data.data.interpretationExperience %></span>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>服务地区：</div>
                <div><%= data.data.province
                    +' '+data.data.city
                    +" "+data.data.area %></div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>口译类型：</div>
                <div>
                    <% types = data.data.interpretationTypes && JSON.parse(data.data.interpretationTypes) || [] %>
                    <% for(var i = 0; i<types.length; i++) { %>
                    <span><%= types[i] %></span>
                    <% } %>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div style="vertical-align: top">语种信息：</div>
                <div>
                    <table class="am-table am-table-striped am-table-hover sy-center sy-font-md">
                        <thead>
                        <tr><th>擅长语言</th><th>一级领域</th><th>二级领域</th></tr>
                        </thead>
                        <tbody>
                        <% language = data.data.languageInfo && JSON.parse(data.data.languageInfo) || [] %>
                        <% for(var i = 0; i<language.length; i++) { %>
                        <tr>
                            <td><%= language[i].langaugeName %></td>
                            <td><%= language[i].firstAreaName %></td>
                            <td width="300"><%= language[i].secondAreaName %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <% } %>
        <!--提交、修改信息表单-->
        <form class="add-form <%= data.data.id ? 'sy-hidden':'' %>" action="#">
            <div class="am-u-lg-12">口译经验(单选)：</div>
            <div class="am-u-lg-12 labels single experienceLabel" prop="口译经验"> <!--选中添加class=‘selected’-->
                <span>1年以下</span>
                <span>1~3年</span>
                <span>3~5年</span>
                <span>5年以上</span>
            </div>
            <div class="am-u-lg-12">服务地区：</div>
            <div class="am-u-lg-12 labels area" prop="服务地区">
                <select class="province" name="deliverprovince" id="deliverprovince"></select>
                <select class="city" name="delivercity" id="delivercity"></select>
                <select class="area" name="deliverarea" id="deliverarea"></select>
            </div>
            <div class="am-u-lg-12">口译类型(可多项)：</div>
            <div class="am-u-lg-12 labels multiple typeLabel" prop="口译类型">
                <span>同声传译</span>
                <span>陪同口译</span>
                <span>大型活动</span>
                <span>交替传译</span>
            </div>
            <div class="am-u-lg-12">语种信息(二级领域可多选)：</div>
            <div class="am-u-lg-12 labels select" prop="语种信息">
                <div class="label-item">
                    <select class="language freelancerLan">
                        <option value="">请选择擅长语言</option>
                    </select>
                    <select class="field-1 freelancerField_1">
                        <option value="">请选择一级领域</option>
                    </select>
                    <select class="field-2 freelancerField_2" multiple data-am-selected="{maxHeight: 200}"></select>
                    <button type="button" class="sy-btn sy-btn-sm sy-btn-green addLanPair">添加语种</button>
                </div>
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md">
                    <thead>
                    <tr><th>擅长语言</th><th>一级领域</th><th>二级领域</th><th>操作</th></tr>
                    </thead>
                    <tbody class="dataTarget lanTarget"></tbody>
                </table>
            </div>
            <div class="am-u-lg-12 sy-btns sy-font-md">
                <button class="btn btn-default sy-btn sy-btn-default sy-btn-md cancelBtn">取 消</button>
                <button class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn"
                        data-id="<%= data.data.id %>"
                        data-type="meeting">提 交</button>
            </div>
        </form>
        <div class="hiddenData sy-hidden"><%= JSON.stringify(data.data) %></div>
        <% } %>
    </div>
</div>
<script type="text/javascript" src="/static/lib/area.js"></script>
<script>
    (function ($) {

        new PCAS("deliverprovince", "delivercity", "deliverarea");

        //编辑时，获取本地数据
        $('span.editLabel').click(function () {
            var hideData = JSON.parse($('.hiddenData').html());
            var expLabel = $('.experienceLabel>span'),
                typeLabel = $('.typeLabel>span'),
                tbodyEl = $('.lanTarget');
            var trStr = '',
                trData = hideData.languageInfo && JSON.parse(hideData.languageInfo) || [];

            expLabel.each(function (index, item) {
                hideData.interpretationExperience === $(item).text() && $(item).addClass('selected');
            });
            typeLabel.each(function (index, item) {
                var txt = $(item).text();
                hideData.interpretationTypes.indexOf(txt) > -1 && $(item).addClass('selected');
            });
            $('select.province').val(hideData.province).change();
            $('select.city').val(hideData.city);
            $('select.area').val(hideData.area);
            trData.forEach(function (item) {
                trStr += `<tr>
                            <td>${item.langaugeName}</td>
                            <td>${item.firstAreaName}</td>
                            <td width="250">${item.secondAreaName}</td>
                            <td><a href="javascript:;" class="del">删 除</a></td>
                            <td class="itemData sy-hidden">${JSON.stringify(item)}</td>
                        </tr>`;
            });
            tbodyEl.html(trStr);
        });

    }(jQuery));
</script>